<html>
  <head>
    <title>Servo control</title>
<style>
.but_def{
    background-color: #79B9FF;
    border: none;
    font-size: 28px;
    color: white;
    padding: 16px 64px;
    text-decoration: none;
    border-radius: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.but_def:hover {background-color: #B9B9FF}
</style>
  </head>
  <body>
	<center>	
    <h1>Servo moter control</h1>
    <form method = "post">
    <br>    
    <input type="submit" name="submit" value="Level 1" class="but_def">
    <br>
    <input type="submit" name="submit" value="Level 2" class="but_def">
    <br>
    <input type="submit" name="submit" value="Level 3" class="but_def">
    <br>
    <input type="submit" name="submit" value="Level 4" class="but_def">
    <br>
    <input type="submit" name="submit" value="Level 5" class="but_def">
    <br>

	{{res_str}}
    </form>
	</center>
  </body>
</html>
